{% extends "manager/character.html" %}

{% block title %}Editing Character:  {{ character.name }}{% endblock %}

{% block actions %}
	<a class="btn btn-danger" href="{{ character.get_absolute_url }}">Cancel</a>
	<button type="submit"  class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Update</button>
{% endblock %}

{% block details %}	
	<div class="col-xs-2"><strong>Name:</strong></div>	
	<div class="col-xs-10">{{ form.name }}</div>
	
	<div class="col-xs-2"><strong>Source:</strong></div>
	<div class="col-xs-10">{{ form.source }}</div>
{% endblock %}

{% block bio %}
	<p>{{ form.bio }}</p>
{% endblock %}

{% block notes %}
	<p>{{ form.gmnotes }}</p>
{% endblock %}