{% extends "manager/character.html" %}

{% block title %}{{ character.name }}{% endblock %}
	
{% block actions %}
	<a class="btn btn-danger" href="{{character.get_absolute_delete_url}}"><span class="glyphicon glyphicon-remove"> Delete</span></a>
	<a class="btn btn-primary" href="{{character.get_absolute_update_url}}"><span class="glyphicon glyphicon-edit"> Edit</span></a>
{% endblock %}

{% block details %}	
	<div class="col-xs-2"><strong>In Pack:</strong></div>	
	<div class="col-xs-10">{{ character.pack.name }}</div>
	
	<div class="col-xs-2"><strong>Source:</strong></div>
	<div class="col-xs-10">{{ character.source }}</div>
{% endblock %}

{% block bio %}
	<p>{{ character.bio }}</p>
{% endblock %}

{% block notes %}
	<p>{{ character.gmnotes }}</p>
{% endblock %}

	
{% block abilities %}	
	{% if character.ability_set.all %}
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Token Macro</th>
					<th>Content</th>
				</tr>
			</thead>
			<tbody>
				{% for ability in character.ability_set.all|dictsort:"name" %}
				<tr>
					<th>{{ ability.name }}</th>
					<th>
						{% if ability.istokenaction %}
							<span class="glyphicon glyphicon-ok"></span>
						{% else %}
							<span class="glyphicon glyphicon-remove"></span>
						{% endif %}
					</th>
					<th>{{ ability.action }}</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>	
	{% else %}
	    <p>No Abilities</p>
	{% endif %}
{% endblock %}		
	

{% block attributes %}
	{% if character.attribute_set.all %}
		<!-- Table -->
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Content</th>
				</tr>
			</thead>
			<tbody>
				{% for attribute in character.attribute_set.all|dictsort:"name" %}
				<tr>
					<th>{{ attribute.name }}</th>
					
					{% if attribute.max %}
						<td> {{ attribute.current }} / {{ attribute.max }}</td>
					{% else %}
					    <td> {{ attribute.current }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	    <p>No Attributes</p>
	{% endif %}
{% endblock %} 
