{% extends "manager/character.html" %}
{% load form_extras %}

{% block title %}Editing Character:  {{ character.name }}{% endblock %}

{% block actions %}
	<a class="btn btn-danger" href="{{ character.get_absolute_url }}">Cancel</a>
	<button type="submit"  class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Update</button>
{% endblock %}

{% block details %}	

	{% for field in form %}
	<div class="form-group">
		{{ field.label_tag }}
		{{ field.errors }}
		{{ field | addatrr:"class=form-control"}}
	</div>
	{% endfor %}
		
{% endblock %}

{% block bio %}
	<div class="form-group">
	{{ notes_form.bio.errors }}
	{{ notes_form.bio | addatrr:"class=form-control" }}
	</div>
{% endblock %}


{% block abilities %}
    {{ ability_form.management_form }}
    {{ ability_form.non_form_errors }}
    {% for form in ability_form %}
        {{ form.id }}
        <div class="row inline {% cycle 'row-even' 'row-odd ' %} {{ ability_form.prefix }}">
         	<div class="col-xs-10">
	         	<div class="form-group col-xs-10">
	            {{ form.name.errors }}
	            {{ form.name.label_tag }}
	            {{ form.name| addatrr:"class=form-control" }}
	            </div>
	            <div class="form-group col-xs-2">
	            {{ form.istokenaction.errors }}
	            {{ form.istokenaction.label_tag }}
	            {{ form.istokenaction| addatrr:"class=form-control"}}
	            </div>
	            <div class="form-group col-xs-12">
	            {{ form.action.errors }}
	            {{ form.action.label_tag }}
	            {{ form.action| addatrr:"class=form-control" }}
	            </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block attributes %}
	<fieldset>
    {{ attribute_form.management_form }}
    {{ attribute_form.non_form_errors }}
    {% for form in attribute_form %}
        {{ form.id }}
        <div class="row inline {% cycle 'row-even' 'row-odd ' %} {{ attribute_form.prefix }}">
        	<div class="form-group col-xs-4">
            {{ form.name.errors }}
            {{ form.name.label_tag }}
            {{ form.name| addatrr:"class=form-control" }}
            </div> 
            <div class="form-group col-xs-4">
            {{ form.current.errors }}
            {{ form.current.label_tag }}
            {{ form.current| addatrr:"class=form-control" }}
            </div> 
            <div class="form-group col-xs-2">
            {{ form.max.errors }}
            {{ form.max.label_tag }}
            {{ form.max| addatrr:"class=form-control" }}
            </div> 
        </div>
    {% endfor %}
    </fieldset>
{% endblock %}

{% block notes %}
	<div class="form-group">
	{{ notes_form.gmnotes.errors }}
	{{ notes_form.gmnotes | addatrr:"class=form-control" }}
	</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        $(".inline.{{ ability_form.prefix }}").formset({
            prefix: "{{ ability_form.prefix }}",
            deleteText:" Remove",
            deleteWrap:"<div class='col-xs-2'></div>",
            deleteCssClass:"btn btn-danger glyphicon glyphicon-remove",
            addText:" Add",
            addCssClass:"btn btn-primary glyphicon glyphicon-plus",
            addInsert: function($$, addButton) {
            	$("#ability-block .actions").append(addButton);
            },
        })
        $(".inline.{{ attribute_form.prefix }}").formset({
            prefix: "{{ attribute_form.prefix }}",
            deleteText:' Remove',
            deleteWrap:"<div class='col-xs-2'></div>",
            deleteCssClass:"btn btn-danger glyphicon glyphicon-remove",
            addText:" Add",
            addCssClass:"btn btn-primary glyphicon glyphicon-plus",
            addInsert: function($$, addButton) {
            	$("#attributes-block .actions").append(addButton);
            },
        })
    })
</script>
{% endblock %}
