{% extends "manager/character.html" %}
{% load form_extras %}

{% block title %}Editing Character:  {{ character.name }}{% endblock %}

{% block actions %}
	<a class="btn btn-danger" href="{{ character.get_absolute_url }}">Cancel</a>
	<button type="submit"  class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Update</button>
{% endblock %}

{% block details %}	
	<div class="form-group">
		{{ form.name.label_tag }}
		{{ form.name.errors }}
		{{ form.name | addatrr:"class=form-control"}}
	</div>
	
	<div class="form-group">
		{{ form.source.label_tag }}
		{{ form.source.errors }}
		{{ form.source | addatrr:"class=form-control"}}
	</div>
	
	<div class="form-group">
		{{ form.avatar.label_tag }}
		{{ form.avatar.errors }}
		{{ form.avatar | addatrr:"class=form-control"}}
	</div>
	
	<div class="form-group">
		{{ form.token.label_tag }}
		{{ form.token.errors }}
		{{ form.token | addatrr:"class=form-control"}}
	</div>
		
{% endblock %}

{% block bio %}
	<div class="form-group">
	{{ form.bio.errors }}
	{{ form.bio | addatrr:"class=form-control" }}
	</div>
{% endblock %}

{% block notes %}
	<div class="form-group">
	{{ form.gmnotes.errors }}
	{{ form.gmnotes | addatrr:"class=form-control" }}
	</div>
{% endblock %}