{% extends "base.html" %}

{% block title %}Exporting{% endblock %}

{% block content %}

	<div class="page-header">
		<h1>Exporting</h1>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Copy to Roll 20 Import Script:</h3></div>
		<div class="panel-body">
			<textarea class="form-control" rows="20">{{exportedJson}}</textarea>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Images:</h3></div>
		<div class="panel-body">
		{% for character in character_list %}
			<div class="col-xs-4">
				<div class="row">
				{% if character.avatar %}
					<div class="col-xs-6">
						<img src="{{ character.avatar }}"  class="img-responsive" style="max-height: 75px;" alt="Avatar">
					</div>
				{% endif %}
				
				{% if character.token %}
					<div class="col-xs-6">
						<img src="{{ character.token }}"  class="img-responsive" style="max-height: 75px;" alt="Token">	
					</div>
				{% endif %}	
				</div>
				<div class="row text-center"><h5>{{character.name}}</h5></div>
			</div>
		  {% endfor %}
		  
		  </div>
		</div>
	</div>
{% endblock %} 
