{% extends "base.html" %}

{% block content %}
	<form action="" method="post">{% csrf_token %}
	
	<div class="page-header">
		<div class="pull-right">{% block actions %}{% endblock %}</div>
		<h1>{% block title %}{% endblock %}</h1>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#character_detail_block">
            <h3><span class="glyphicon glyphicon-list-alt"></span> Details:</h3>
        </div>
		<div class="panel-body panel-collapse collapse in" id="character_detail_block">
			{% block details %}{% endblock %}
		</div>
	</div>
			
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#character_characters_block">
			<h3><span class="glyphicon glyphicon-user"></span> Characters:</h3>
		</div>
		<div class="panel-body panel-collapse collapse in" id="character_characters_block">
			{% block characters %}{% endblock %}
		</div>
	</div>
	
	</form>
	
{% endblock %} 
