{% extends "base.html" %}

{% block content %}
	
	<div class="page-header">
		<div class="pull-right">
			<a class="btn btn-primary" href="{% url 'manager:pack-import' pack.id %}"><span class="glyphicon glyphicon-import"> Import</span></a>
			<a class="btn btn-primary" href="{% url 'manager:pack-update' pack.id %}"><span class="glyphicon glyphicon-edit"> Edit</span></a>
		</div>
		<h1>{{ pack.name }}</h1>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Detail:</h3></div>
		<div class="panel-body">
			<p><strong>Posted By:</strong> {{pack.owner}}</p>
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Characters:</h3></div>
		<div class="panel-body">
			{% if pack.character_set.all %}
				<div class="list-group">
				{% for character in pack.character_set.all|dictsort:"name" %}
					 <a class="list-group-item col-xs-4" href="{% url 'manager:character-detail' character.id %}">{{ character.name }}</a>	
				{% endfor %}
				</ul>
			{% else %}
			    <p>No Characters</p>
			{% endif %}
		</div>
	</div>
{% endblock %} 