{% extends "base.html" %}

{% load humanize %}
{% load permissions %}
 
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <a class="btn btn-primary" href="{% url 'manager:pack-create' %}"><span class="glyphicon glyphicon-plus"></span> Create</a>
    </div>
    <h3>Packs:</h3>
  </div>
  
  <div class="panel-body">
  {% if pack_list %}
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th><a href="?order_by=name">Pack Name</a></th>
          <th><a href="?order_by=system">System</a></th>
          <th><a href="?order_by=owner">Published By</a></th>
          <th><a href="?order_by=date_modified">Last Updated</a></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for pack in user|canView:pack_list %}
        <tr>
          <td><a href="{{pack.get_absolute_url}}">{{ pack.name }}</a></td>
          <td>{{ pack.system }}</td>
          <td>
	          <a href="{{ pack.owner.userprofile.get_absolute_url}}">
	          	{{ pack.owner }}
	          </a>
          </td>
          <td>{{ pack.date_modified|naturalday }}</td>
          <td>
          	{% if user|canEdit:pack%}
          		<a class="btn btn-warning" href="{{pack.get_absolute_update_url}}"><span class="glyphicon glyphicon-edit"> Edit</span></a>
         	{% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No Packs are available.</p>
    {% endif %}
</div>
{% endblock %}
