{% extends "base.html" %}
{% load humanize %}
 
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right">
      <a class="btn btn-primary" href="{% url 'manager:pack-create' %}"><span class="glyphicon glyphicon-plus"></span> Create</a>
    </div>
    <h3>Packs:</h3>
  </div>
  <div class="panel-body">
  {% if pack_list %}
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th><a href="?order_by=name">Pack Name</a></th>
          <th><a href="?order_by=system">System</a></th>
          <th><a href="?order_by=owner">Published By</a></th>
          <th><a href="?order_by=date_modified">Last Updated</a></th>
        </tr>
      </thead>
      <tbody>
      {% for pack in pack_list %}
        <tr>
          <td><a href="{{pack.get_absolute_url}}">{{ pack.name }}</a></td>
          <td>{{ pack.system }}</td>
          <td>{{ pack.owner }}</td>
          <td>{{ pack.date_modified|naturalday }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>No Packs are available.</p>
    {% endif %}
</div>
{% endblock %}
