{% extends "manager/pack.html" %}
{% load humanize %}

{% block title %}{{ pack.name }}{% endblock %}
	
{% block actions %}
	<a class="btn btn-info" href="{{pack.get_absolute_import_url}}"><span class="glyphicon glyphicon-import"> Import</span></a>
	<a class="btn btn-primary" href="{{pack.get_absolute_export_url}}"><span class="glyphicon glyphicon-export"> Export</span></a>
	<a class="btn btn-warning" href="{{pack.get_absolute_update_url}}"><span class="glyphicon glyphicon-edit"> Edit</span></a>
{% endblock %}

{% block details %}	
	<div class="col-xs-2"><strong>Name:</strong></div>	
	<div class="col-xs-10">{{ pack.name }}</div>
	
	<div class="col-xs-2"><strong>System:</strong></div>
	<div class="col-xs-10">{{ pack.system }}</div>
	
	<div class="col-xs-2"><strong>Posted By:</strong></div>	
	<div class="col-xs-10">{{ pack.owner }}</div>
	
	<div class="col-xs-2"><strong>Created:</strong></div>	
	<div class="col-xs-10">{{ pack.date_created|naturaltime }}</div>
	
	<div class="col-xs-2"><strong>Last Updated:</strong></div>	
	<div class="col-xs-10">{{ pack.date_modified|naturaltime }}</div>
{% endblock %}

{% block characters %}	
	{% if pack.character_set.all %}
	<!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Source</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for character in pack.character_set.all %}
        <tr>
          <td><a href="{{character.get_absolute_url}}">{{ character.name }}</a></td>
          <td>{{ character.source }}</td>
          <td>{{ character.date_modified|naturalday }}</td>
          <td align="right"></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
     <p>No Characters</p>
    {% endif %}
{% endblock %}