{% extends "manager/pack.html" %}
{% load humanize %}
{% load form_extras %}

{% block title %}Editing: {{ pack.name }}{% endblock %}
{% block heading %}Editing Pack: {{ pack.name }}{% endblock %}
	
{% block actions %}
  {% if pack %}
    <a class="btn btn-danger" href="{{ pack.get_absolute_url }}"><span class="glyphicon glyphicon-left"> Cancel</span></a>
    <button type="submit"  class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Update</button>
  {% else %}
    <button type="submit"  class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Create</button>
  {% endif %}
{% endblock %}


{% block details %}	
	{% for field in form %}
	<div class="form-group">
		{{ field.label_tag }}
		{{ field.errors }}
		{{ field | addatrr:"class=form-control"}}
	</div>
	{% endfor %}
{% endblock %}

{% block characters %}	
	{% if pack.character_set.all %}
	<!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Source</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for character in pack.character_set.all %}
        <tr>
          <td><a href="{{character.get_absolute_url}}">{{ character.name }}</a></td>
          <td>{{ character.source }}</td>
          <td>{{ character.date_modified|naturalday }}</td>
          <td align="right">
            <a class="btn btn-danger" href="{{character.get_absolute_delete_url}}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-primary" href="{{character.get_absolute_update_url}}"><span class="glyphicon glyphicon-edit"></span></a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
     <p>No Characters</p>
    {% endif %}
{% endblock %}