{% extends "base.html" %}

{% block title %}Profile: {{object.username}}{% endblock %}

{% load humanize %}
{% load permissions %}


{% block content %}  
{{ object.provider }}  
 <section class="jumbotron">
    <div class="row">
        <div class="col-xs-4">
            <img src="{{ object.userprofile.getGravatar }}size=250" class="img-rounded img-responsive" />

            Linked Accounts:
            <ul>
            	{% if object.userprofile.roll20_username %}
            		<li><a href="https://app.roll20.net/users/{{ object.userprofile.roll20_username }}">Roll20</a></li>
            	{% endif %}
            	{% if object.userprofile.website %}
            		<li><a href="{{ object.userprofile.website }}">Website</a></li>
            	{% endif %}
            	{% if object.email %}
            		<li><a href="mailto:{{ object.email }}">Email</a></li>
            	{% endif %}
            </ul>
        </div>
        <div class="col-xs-8">
            <div>
                <h2>{{ object.username }}</h2>
                <p>{{ object.userprofile.about }}</p>
            </div>
            
        </div>
    </div>
    <!-- ROW END -->
</section>
	<div class="panel panel-default">
		<div class="panel-heading" >
            <h3>Packs:</h3>
        </div>
		<div class="panel-body" >
		{% if user.pack_set %}
	      	<table class="table">
	      <thead>
	        <tr>
	          <th><a href="?order_by=name">Pack Name</a></th>
	          <th><a href="?order_by=system">System</a></th>
	          <th><a href="?order_by=date_modified">Last Updated</a></th>
	          <th></th>
	        </tr>
	      </thead>
	      <tbody>
	      {% for pack in user|canView:user.pack_set.all %}
	        <tr>
	          <td><a href="{{pack.get_absolute_url}}">{{ pack.name }}</a></td>
	          <td>{{ pack.system }}</td>
	          <td>{{ pack.date_modified|naturalday }}</td>
	          <td>
	          	{% if user|canEdit:pack%}
	          		<a class="btn btn-warning" href="{{pack.get_absolute_update_url}}"><span class="glyphicon glyphicon-edit"> Edit</span></a>
	         	{% endif %}
	          </td>
	        </tr>
	      {% endfor %}
	      </tbody>
	    </table>
	    {% else %}
	      <p>No Packs are available.</p>
	    {% endif %}
      
		</div>
		<div class="panel-footer"></div>
	</div>
    
<!-- SECTION END -->
        
{% endblock %} 
